<!--
    Copyright 2022 Joaquín Cuéllar.
    
    This file is part of Hola Mundo Especial con todo y más.

    Hola Mundo Especial is free software: you can redistribute it and/or modify it 
    under the terms of the GNU General Public License as published by the Free Software Foundation, 
    either version 3 of the License, or (at your option) any later version.

    Hola Mundo Especial is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
    See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with Hola Mundo Especial. 
    If not, see <https://www.gnu.org/licenses/>.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola mundo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row  style="height: 100%;      align-content: center!important;
      align-items: center!important;">
        <ion-col size="6">
          <ion-label>Hola mundo con todo y más!</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-img style="width: 50%;" src="../../assets/hola.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </div>
</ion-content>
